In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
files = [f'Cases-{i}.csv' for i in range(5)]
dataframes = [pd.read_csv(file) for file in files]
df = pd.concat(dataframes, ignore_index = True)

C:\Users\Neil\AppData\Local\Temp\ipykernel_19144\952352160.py:2: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file) for file in files]
C:\Users\Neil\AppData\Local\Temp\ipykernel_19144\952352160.py:2: DtypeWarning: Columns (8,11,19,21) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file) for file in files]

In [8]:
df.head(5)

,CaseCode,Age,AgeGroup,Sex,DateSpecimen,DateResultRelease,DateRepConf,DateDied,DateRecover,RemovalType,...,ProvRes,CityMunRes,CityMuniPSGC,BarangayRes,BarangayPSGC,HealthStatus,Quarantined,DateOnset,Pregnanttab,ValidationStatus
0,C404174,38.0,35 to 39,FEMALE,NaN,2020-01-30,2020-01-30,NaN,NaN,RECOVERED,...,NEGROS ORIENTAL,DUMAGUETE CITY (CAPITAL),PH074610000,NaN,NaN,RECOVERED,NO,2020-01-21,NO,"Removal Type is ""Recovered"", but no Recovered ..."
1,C462688,44.0,40 to 44,MALE,NaN,2020-01-30,2020-02-03,2020-02-01,NaN,DIED,...,NEGROS ORIENTAL,DUMAGUETE CITY (CAPITAL),PH074610000,NaN,NaN,DIED,NO,2020-01-18,NaN,NaN
2,C387710,60.0,60 to 64,FEMALE,2020-01-23,2020-01-30,2020-02-05,NaN,2020-01-31,RECOVERED,...,BOHOL,PANGLAO,PH071233000,NaN,NaN,RECOVERED,NO,2020-01-21,NO,Case has Admitting Facility but is not Admitte...
3,C377460,49.0,45 to 49,MALE,NaN,NaN,2020-03-06,NaN,NaN,RECOVERED,...,BATANGAS,SANTO TOMAS,PH041028000,NaN,NaN,RECOVERED,NO,NaN,NaN,Case has Admitting Facility but is not Admitte...
4,C498051,63.0,60 to 64,MALE,2020-03-05,NaN,2020-03-06,2020-03-11,NaN,DIED,...,RIZAL,CAINTA,PH045805000,NaN,NaN,DIED,NO,NaN,NaN,Age or Birthdate is Invalid\nCase has Lab Resu...

In [12]:
print(df.columns)

Index(['CaseCode', 'Age', 'AgeGroup', 'Sex', 'DateSpecimen',
       'DateResultRelease', 'DateRepConf', 'DateDied', 'DateRecover',
       'RemovalType', 'DateRepRem', 'Admitted', 'RegionRes', 'ProvRes',
       'CityMunRes', 'CityMuniPSGC', 'BarangayRes', 'BarangayPSGC',
       'HealthStatus', 'Quarantined', 'DateOnset', 'Pregnanttab',
       'ValidationStatus'],
      dtype='object')

In [20]:
date_columns = ['DateSpecimen', 'DateResultRelease','DateRepConf', 'DateDied', 'DateRecover', 'DateRepRem', 'DateOnset']
for date in date_columns:
    df[date] = pd.to_datetime(df[date], errors = 'coerce')

df.dropna(subset = [])

(4136488, 23)

In [33]:
df.count()

CaseCode             4136488
Age                  4124590
AgeGroup             4124590
Sex                  4136487
DateSpecimen         3026051
DateResultRelease    3025344
DateRepConf          4000000
DateDied               65717
DateRecover           731077
RemovalType          4134715
DateRepRem           3999789
Admitted             3962865
RegionRes            4132606
ProvRes              4079119
CityMunRes           4030963
CityMuniPSGC         4024992
BarangayRes          3767422
BarangayPSGC         3761581
HealthStatus         4136488
Quarantined          4021265
DateOnset            1437626
Pregnanttab          2067561
ValidationStatus     4089563
dtype: int64

In [31]:
df.isnull().sum()

CaseCode                   0
Age                    11898
AgeGroup               11898
Sex                        1
DateSpecimen         1110437
DateResultRelease    1111144
DateRepConf           136488
DateDied             4070771
DateRecover          3405411
RemovalType             1773
DateRepRem            136699
Admitted              173623
RegionRes               3882
ProvRes                57369
CityMunRes            105525
CityMuniPSGC          111496
BarangayRes           369066
BarangayPSGC          374907
HealthStatus               0
Quarantined           115223
DateOnset            2698862
Pregnanttab          2068927
ValidationStatus       46925
dtype: int64

In [ ]:
# df['DateSpecimen'] = pd.to_datetime(df['DateSpecimen'], errors = 'coerce'